cpp/SWTest
build
.vscode
cpp/kalkulator/CMakeFiles
cpp/kalkulator/.cache/clangd/index/main.cpp.AD35CFECDB5C993E.idx
cpp/kalkulator/cmake_install.cmake
cpp/kalkulator/CMakeCache.txt
.gitignore
cpp/kalkulator/compile_commands.json
cpp/kalkulator/CMakeLists.txt
cpp/kalkulator/CPackConfig.cmake
cpp/kalkulator/CPackSourceConfig.cmake
cpp/kalkulator/CTestTestfile.cmake
cpp/kalkulator/DartConfiguration.tcl
cpp/kalkulator/Makefile
cpp/kalkulator/CPackConfig.cmake
cpp/kalkulator/CPackSourceConfig.cmake
cpp/kalkulator/CTestTestfile.cmake
cpp/kalkulator/DartConfiguration.tcl
cpp/kalkulator/CMakeLists.txt
.gitignore
build/Testing/